.generation {
    padding: 117px 0 117px 0;
    background-color: #f7f7f7;
    &__block {

    }

    @media (max-width: 900px) {
        padding: 80px 0;
    }

    @media (max-width: 600px) {
        padding: 30px 0;
    }
}

.container {

}

.block {
    text-align: center;
    &__icon {
        margin-bottom: 33px;
    }

    &__title {
        font-family: "Lato";
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: #848789;
    }

}