html,
body {
    height: 100%;
    margin: 0;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
}

.content {
    // flex: 1 1 auto;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
