section.brands
    .brands__row
        .brands__column.brands__column--b
            a(href="#").brands__item.item
                span.item__logo
                    img(src="/build/img/brands/item__logo.png", alt="")
                span.item__image
        .brands__column
            .brands__content.block
                .block__icon
                    img(src="/build/img/brands/brands__block__icon_1.png", alt="brand icon")
                h2.block__title-1 VINTAGE OLIVA
                .block__text.block__text--j Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .brands__image