header.header
    .header__row
        nav.header__menu.menu
            .menu__icon.icon-menu
                span
                span
                span
            .menu__body
                ul.menu__list
                    li
                        a.menu__link(href="") ABOUT US
                    li
                        a.menu__link(href="") WORK
                    li
                        a.menu__link(href="") SHOP
                    li
                        a.menu__link(href="") CONTACT
        .header__logo
            img(src="/build/img/header/logo_52.png", alt="Logo")