<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/build/styles/style.css")
        title Adaptive-bicycles
    body
        .wrapper
            main.page
                include ./components/header
                .main-screen
                .content
                    include ./components/generation
                    include ./components/brands
                include ./components/footer
        script(src="/build/js/script.js")